# vscode files
.vscode/**

# decl, def files
Charap/**/*.decl.h
Charap/**/*.def.h
tests/**/*.decl.h
tests/**/*.def.h

# build files
Charap/libcharap.a
tests/test_vector
tests/**/charmrun
tests/vector/vector
